@page "/contenedores/{IdContenedor:int}"

@using Reciclaje.Info.Client.Services
@using Reciclaje.Info.Client.Components
@using Reciclaje.Info.Shared.Types

@inject HttpClient client
@inject ISnackbar Snackbar
@inject IGenericGeoService<ContenedorType> servicio


		<MudExpansionPanels Elevation="1" DisableBorders="true" Class="mt-3">
				<MudExpansionPanel IsExpanded="true">
					<TitleContent>						
						<div class="d-flex">
							<MudIconButton Icon="@Icono" Variant="Variant.Filled" Color="Color.Secondary " Size="Size.Small" class="mr-3"/>	
							
							<MudText Typo="Typo.h5" > @Titulo </MudText>
						</div>						
					</TitleContent>
					<ChildContent >
						<MudText Typo="Typo.subtitle2" GutterBottom="true"> @Descripcion </MudText>
					</ChildContent>
				</MudExpansionPanel>        
		 </MudExpansionPanels>

@if (!cargado)
{
	<MudOverlay Visible="esVisible" DarkBackground="true" Absolute="true" ZIndex="9999">
		<MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
	</MudOverlay>
}
else
{
	<EcoMapComponent GeoDatos="@geoDatos"></EcoMapComponent>
}




@code {


	[Parameter] public int IdContenedor { get; set; } = 0;

	public string? Titulo { get; set; }
	public string? Descripcion { get; set; }
	public string? Icono { get; set; }
	public ContenedorType Tipo { get; set; }

	private GeoAtomDto? geoDatos;
	private Boolean cargado;
	private Boolean esVisible;


	protected override async Task OnParametersSetAsync()
	{
		if (ShouldRender())
		{
			Tipo = (ContenedorType)IdContenedor;
			await LoadDataAsync();		
		}		
	}
	private async Task LoadDataAsync()
	{
		try
		{
			cargado = false;
			esVisible = true;
			//ContenedorService service = new ContenedorService(client, IdContenedor);
			Titulo = servicio.GetTitulo(Tipo);
			Descripcion = servicio.GetSubTitulo(Tipo);
			Icono = servicio.GetIcono(Tipo);
			geoDatos = await servicio.GetDataAsync<GeoAtomDto>(Tipo);

		}
		catch (Exception ex)
		{
			Snackbar.Add(string.Format("Error: {0}", ex.Message), Severity.Error);
		}
		finally
		{
			cargado = true;	
		}


		
	}
}





